/* Default elements */
:root {
    --navbar-height: 105px;
    /* Colors */
    --primary-color: #007ced;   /* Main blue */
    --secondary-color: #444;    /* Dark gray */
    --bg-color: #222;           /* Main background */

    /* Text Colors */
    --text-primary: #e5e5e5;    /* Main text */
    --text-secondary: #bbb;     /* Muted/secondary text */

    /* Border & Shadows */
    --border-primary: #e5e5e5;
    --shadow-default: rgba(0, 0, 0, 0.78);
    --shadow-highlight: rgba(0, 124, 237, 0.3);

    /* Buttons */
    --button-bg: #333;
    --button-border: #e5e5e5;
    --button-hover-border: #007ced;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar-height);
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
}

a {
    color: var(--text-primary);
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

a:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    min-height: auto;
}

/* General Classes */
.page-content {
    margin-top: var(--navbar-height);
}   

.section-fullscreen {
    min-height: calc(100vh - var(--navbar-height));
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    color: var(--text-primary);
    text-align: center;
    margin-bottom: 32px;
}

.section-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.wrap {
    flex-wrap: wrap;
}

.btn-primary {
    cursor: pointer;
    border-color: var(--button-border);
    color: #fff;
    background-color: var(--button-bg);
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid var(--text-primary);
    box-shadow: 0 10px 10px -8px var(--shadow-default);
    transition: 0.5s;   
}

.btn-primary:hover {
    border-color: var(--primary-color);
    transform: scale(1.1);
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    margin: 0 auto;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--secondary-color);
    box-shadow: 1px 1px 8px var(--secondary-color);
    z-index: 999;
}

nav {
    display: flex;
    align-items: center;
}

nav .nav-btn {
    display: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
    z-index: 5;
    position: absolute;
}

nav .nav-btn span {
    display: block;
    background-color: var(--text-primary);
    margin: 5px 0;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .nav-links {
    list-style-type: none;
}

nav .nav-links li {
    display: inline-block;
}

nav .nav-links a {
    display: inline-block;
    margin-right: 32px;
}

.language-switcher {
    display: inline-flex;
    gap: 24px;
    font-size: 24px;
}

/* Hero Section */
.hero-pic {
    width: 300px;
    height: 300px;
    min-width: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid var(--secondary-color);
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.2);
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 32px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: var(--text-primary);
    font-size: 14px;
}

.hero-text h5 span {
    color: var(--primary-color);
    font-size: 16px;
}

.hero-text h1 {
    color: var(--primary-color);
    font-size: 48px;
}

.hero-text p {
    color: var(--text-primary);
    max-width: 900px;
}

.hero-actions {
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero-buttons {
    display: flex;
    gap: 32px;
}

.hero-icons {
    display: flex;
    gap: 32px;
    font-size: 48px;
}

/* Skills Section */
.skill-category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 32px;
}

.skill-category h3 {
    font-size: 24px;
    margin-bottom: 32px;
    color: var(--text-primary);
}

.skill-category ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    list-style: none;
    padding: 0;
}

.skill-category li {
    text-align: center;
    width: 26%;
}

.skill-category img {
    width: 50px;
    height: 50px;
}

/* Timeline */
.timeline {
    width: 100%;
    border-left: 2px solid var(--text-primary);
}

.timeline:last-child {
    margin-bottom: 0;
}

.timeline .timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item {
    margin-bottom: 32px;
}

.timeline-item .bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--text-primary);
    position: absolute;
    left: 24px;
    z-index: 1;
}

.timeline-card {
    color: var(--text-primary);
    background-color: var(--bg-color);
    padding: 24px;
    margin-left: 40px;
    border: 2px solid var(--text-primary);
    border-radius: 8px;
    max-width: 960px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.timeline-card:hover {
    border-color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0px 8px 16px var(--shadow-highlight);
}

.timeline-card .timeline-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-primary);
    margin-bottom: 6px;
}

.timeline-card .timeline-card-title span {
    font-size: 16px;
    font-weight: 600;
}

.timeline-card .timeline-card-title span i {
    margin-right: 8px;
}

.timeline-card .timeline-card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-style: italic;
}

.timeline-card .timeline-card-subtitle span i {
    margin-right: 8px;
}

.timeline-card ul {
    margin-top: 16px;
    margin-left: 16px;
}

.timeline-card ul li {
    margin-bottom: 8px;
}

.timeline-card ul li:last-child {
    margin-bottom: 0;
}

@media(max-width: 1024px) {
    /* General Classes */
    .column-m {
        flex-direction: column;
    }

    /* Navbar */
    nav .nav-btn {
        display: initial;
    }

    /* for toggle button */
    .click {
        top: 45px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child {
        transform: rotate(-45deg);
    }

    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }

    nav .nav-links {
        position: absolute;
        top: var(--navbar-height);
        left: -100%;
        bottom: 0;
        width: 80%;
        height: 100vh;
        background-color: var(--bg-color);
        z-index: 3;
        box-shadow: -5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }

    nav .nav-links li {
        display: block;
    }
    
    nav .nav-links li a {
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .nav-links.open {
        left: 0;
    }

    /* Hero Section */
    .hero-actions {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Skills Section */
    .skill-category {
        width: 50%;
    }

    .skill-category li {
        width: 38%;
    }
}

@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
    }

    .hero-text {
        padding: 40px 0;
    }

    .skill-category {
        width: 100%; /* 1 per row */
    }
}